<%- include('partials/header.ejs') %>

<main class="main-content">
    <section id="hero">
        <div class="hero-image">
            GV
        </div>
        <h1 class="hero-title">
            Mi Nombre es Gerardo, ¡Bienvenido a mi Blog!
        </h1>
        <p class="hero-description">Desarrollador Web Full Stack con experencia en JavaScript, Node.js y Frameworks como React y Angular </p>
        <div class="hero-buttons">
            <button class="hero-btn">Leer mis articulos</button>
            <button class="hero-btn">Conoce más sobre mi</button>
        </div>
    </section>

    <section id="highlights-articles">
        <h2 class="highlighted-articles-title">Articulos Destacados</h2>

        <div class="highlighted-articles">
            <% posts.forEach(post => { %>
                <article class="highlighted-article">    
                    <figure class="highlighted-image">
                        <img src="/uploads/postsFiles/<%= post.image_url %>" alt="<%= post.title %>" class="highlighted-img">
                    </figure>
                    <div class="highlighted-content">
                        <h3><%= post.title %></h3>
                        <div class="highlighted-article-text"> <%= post.preview %> </div>
                        <div class="highlighted-info">
                            <a href="/posts/<%= post.slug %>" class="read-more">Leer más</a>
                            <% if(!isAdmin) { %>
                                <div class="buttons">
                                    <button class="btn-edit" data-post-id="<%= post.id  %>">Editar</button>
                                    <button class="btn-delete">Eliminar</button>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </article>
            <% }) %>
        </div>

    </section>
    <div class="hello">Hola mundo</div>
</main>

<%- include('partials/genericModal.ejs') %>

<%- include('partials/addPost.ejs') %>

<%- include('partials/footer.ejs') %>