<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>GeraBlog</title>
</head>
<body>
    <header class="header">
        <nav class="navbar-container">
                <div class="nav-logo">
                    <img src="..." alt="GeraBlog Logo">
                    <h1>GeraBlog</h1>
                </div>
                <div class="nav-links">
                    <a href="/" class="<%= current === 'home' ? 'active' : '' %>">Inicio</a>
                    <div class="dropdown">
                        <a class="dropbtn">Categoria</a>
                        <div class="dropdown-content">
                            <% categories.forEach(category => { %>
                                    <a 
                                        href="/category/<%= category %>" 
                                        class="<%= current === category ? 'active' : '' %>"
                                    > 
                                        <%= category %>
                                    </a>
                            <% }) %>
                        </div>
                    </div>
                    <a href="/about" class="<%= current === 'about' ? 'active' : '' %>">About</a>
                    <a href="/contact">Contact</a>
                </div>

                <div class="hambutton">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </nav>
    </header>